extends base.pug


block content
    h4 Change your password
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Old password",name="oldPassword",type="password",required)
        input(placeholder="New password",name="newPassword",type="password",required)
        input(placeholder="Confirm password",name="newPassword2",type="password",required)
        
        input(value="save",type="submit")
        
        